@import '../../scss/variables.scss';
@import '../../scss/breakpoints.scss';

nav {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    border-bottom: 2px solid $primary;
    ul{
        justify-content: space-around;
        align-items: center;
        padding: $base-padding / 2 0;
        li {
            @include sm {
                margin: 0.5rem;
            }
        }
        a {
            color: $text;
            text-decoration: none;
            
        }
        .logo{
            justify-content: center;
            align-items: center;
            gap: 5px;
            .stopwatch {
                width: 50px;
                height: 50px;
            }
        }
    }
}
