@import '../../scss/variables.scss';

nav {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    border-bottom: 2px solid $primary;
    ul{
        justify-content: space-around;
        align-items: center;
        a {
            color: $text;
            text-decoration: none;
        }
        .logo{
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}
