@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'variables';
@import 'breakpoints';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  background: $background;
  min-height: 100vh;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

// form
label {
  display: block;
  margin: 12px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: $text;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(165, 165, 165);
  background: rgba(255,255,255,.9);
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

// app

.container {
  flex-grow: 1;
  padding: 0 50px;
  min-height: 100vh;
  @include sm {
    padding: 0 10px;
  }
}

// button

.btn {
  padding: 8px 12px;
  border-radius: 4px;
  color: $primary;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
  &:hover {
    color: #fff;
    background-color: $primary;
  }
}

// dark theme
.dark{
  background: rgb(65, 65, 65);
  color: white;
}