$background: #f4f4f4 !default;
$primary: #8d69f1 !default;
$heading: #999  !default;
$text: #444 !default;
$hightlight: #d13267 !default;

// spacing
$base-padding: 1rem;
$base-margin: 1rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 5px;

// font sizes
$base-font-size: 1.2rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;